<html xmlns="http://www.w3.org/1999/html">

<body>
    <div>
        <form method="post">
            <input type="text" name="last" placeholder="Введите Фамиля">
            <input type="text" name="frst" placeholder="Введите имя">
            <button> type="submit"Добавить</button>
        </form>
    </div>
    <div>Список работников</div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{last}}</span>
        <i>{{frst}}</i>
    </div>
    {{/messages}}
</body>
</html>