<html xmlns="http://www.w3.org/1999/html">

<body>
    <div>
        <form method="post">
            <input type="text" name="frst" placeholder="Введите имя">
            <input type="text" name="last" placeholder="Введите Фамиля">
            <button type= "submit">Добавить</button>
        </form>
    </div>
    <div>Список работников</div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <b>{{frst}}</b>
        <b>{{last}}</b>
    </div>
    {{/messages}}
</body>
</html>